
body {
    background-color: #f2f2f2;
    color:rgb(48, 48, 48);
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 20px;
}

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    padding: 10px;
    text-align: center;
}

h3 {
    padding: 10px;
    text-align: center;
}

p{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

/*START TOP NAV*/
.topnav {
    background-color:#09588e;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    color: #09588e;
    background-color: #f2f2f2;
}

.topnav a.active {
    color:#09588e;
    background-color: #f2f2f2;
}
/* END TOP NAV*/

.home {
    padding: 20px; 
}
.about {
    text-align: justify;
}
/* ARTICLES SECTION */
.articles {
    background-color: gainsboro;
}

/*PROJECTS SECTION*/
.projects {
    background-color: #09588e;
    color: #f2f2f2;
}

.wrapper {
    background-color: lightslategray;
    color: #f2f2f2;
    display: flex;
}

.wrapper div{
    border: 2px #ccc solid;
}

.pong{
    flex: 1;
    flex-grow: 1;
}

.ray{
    flex: 1;
    flex-grow: 1;
}
