/* BODY, PARAGRAPH, AND HEADER */
body {
    background-color: #f2f2f2;
    color:rgb(48, 48, 48);
    font-family: 'PT Sans Narrow',sans-serif;
    font-size: 20px;
}

img {
    border-radius: 5%;
}

h1 {
    padding: 10px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    text-align: center;
}

h3 {
    padding-top: 10px;
    text-align: center;
}

h4 {
    padding: 20px;
    text-align: center;
}

p{
    padding-left: 50px;
    padding-right: 50px;
}

/*START TOP NAV*/
.topnav {
    background-color:#2f383d;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 85%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    color: #09588e;
    background-color: #f2f2f2;
}

.topnav a.active {
    color:#09588e;
    background-color: #f2f2f2;
}
/* END TOP NAV*/

/* START HOME*/
.home {
    padding: 70px; 
    background-image: url('../circuit.jpg');
    color : #f2f2f2;
}
/* END HOME*/

/* START ABOUT*/

.about {
    background-color: #2f383d;
    color: #f2f2f2;
}

.holder{
    display: flex;
}

.self { 
    padding-left: 50px;
    padding-bottom: 50px;
}

.info {
    padding-top: 40px;
    text-align: justify;
}
/* END ABOUT*/

/* START RESUME */
.wrap {
    padding-bottom: 10px;
    padding-left: 50px;
}

.progress {
    background-color: rgb(192, 192, 192); 
    width: 80%; 
    border-radius: 5px; 
}

.skill { 
    background-color: #0896f5; 
    padding: 1%; 
    text-align: right; 
    font-size: 20px; 
    border-radius: 5px; 
    padding: 15px;
} 

.cpp {
    width: 85%;
}

.clang {
    width: 79%;
}

.python {
    width: 75%;
}

.matlab {
    width: 62%;
}

.asm{
    width: 55%;
}
/* END RESUME */

/* START ARTICLES  */
.articles {
    background-color: gainsboro;
    width: 100%;
}
/* END ARTICLES */

/* START PROJECTS */
.projects {
    background-color: #475157;
    color: #f2f2f2;
    width: 100%;
}

.wrapper {
    background-color: lightslategray;
    color: #f2f2f2;
    display: flex;
}

.wrapper div{
    border: 20px #475157 solid;
}

.pong{
    flex: 1;
    flex-grow: 1;
}

.ray{
    flex: 1;
    flex-grow: 1;
}
/* END PROJECTS */

/* START CONTACTS */
.container{
    background-color: gainsboro;
    display: flex;
}

.container div{
    border: 20px #f2f2f2 solid;
}

.github {
    flex: 1;
    flex-grow: 1;
    text-align: center;
}

.medium{
    flex: 1;
    flex-grow: 1;
    text-align: center;
}

.text{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    padding-bottom: 20px;
}

.linkedin{
    flex: 1;
    flex-grow: 1;
    text-align: center;
}
/* END CONTACTS */
